<%
    outstanding_measure = @snapshot.measure('COVERITY-OUTSTANDING-ISSUES')
    highimpact_measure = @snapshot.measure('COVERITY-HIGH-IMPACT')
    mediumimpact_measure = @snapshot.measure('COVERITY-MEDIUM-IMPACT')
    lowimpact_measure = @snapshot.measure('COVERITY-LOW-IMPACT')

    if outstanding_measure || highimpact_measure || mediumimpact_measure || lowimpact_measure
%>
<style>
    .coverity-inner {
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #444;
        margin: 0;
        padding: 1pt;
        border: 0;
    }
</style>
<table width="100%">
  <td width="50%" valign="top">
    <div class="dashbox">
	  <h3>Coverity Issues</h3>
      <span class="big">
        <p>
          <%= format_measure(outstanding_measure, {:url => outstanding_measure.url}) -%>
          <%= dashboard_configuration.selected_period? ? format_variation(outstanding_measure) : trend_icon(outstanding_measure) -%>
        </p>
      </span>
    </div>
  </td>
  <td valign="top">
    <div class="dashbox">
      <p class="title">By Impact</p>
      <table>
        <%
		  distribution = nil
          [highimpact_measure, mediumimpact_measure, lowimpact_measure].each do |measure|
            measure_name = measure.short_name.chomp(" Impact")
            distribution = (distribution ? distribution + ";" : "") + measure_name + "=" + measure.value.to_s
        %>
          <tr>
            <td align="left">
              <%= measure_name -%>
            </td>
            <td align="right" style="padding-left: 10px;">
              <%= format_measure(measure) -%>
              <%= dashboard_configuration.selected_period? ? format_variation(measure) : trend_icon(measure) -%>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </td>
  <td valign="center">
    <%= piechart( distribution ) -%>
  </td>
</table>
<% end %>
